{% extends 'layout.html' %}
    
{% block title %}Эбаут{% endblock %}

{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet quis turpis sed sodales. 
    Integer venenatis nec mauris sed consectetur. Curabitur tortor eros, vehicula a vestibulum ut, 
    sollicitudin ut massa. Etiam eget velit massa. Aenean sed est nibh. Suspendisse dapibus, 
    quam ut dictum malesuada, tortor nisi scelerisque ipsum, eu viverra nulla orci id metus. 
    Maecenas aliquam quam et viverra volutpat. Pellentesque vulputate at velit ac semper. 
    Donec elementum nibh et ornare blandit. Aenean nec lacus dui. Fusce consequat tellus massa, 
    in venenatis augue ullamcorper sit amet. Vivamus non magna nunc. Integer pharetra sem at odio
    hendrerit pulvinar.
Sed pulvinar non enim nec accumsan. Vivamus libero ante, maximus ac tellus vel, ullamcorper tempor elit.
 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
 Donec euismod eros et orci bibendum varius ac eu sem. Nunc egestas semper ante nec commodo. 
 Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ullamcorper justo quis
  mauris blandit varius. Maecenas consectetur tellus lectus, vitae posuere nunc ornare eu.
   Maecenas consectetur libero eleifend tortor tincidunt tristique. Proin tellus mi, convallis eu justo ut,
    iaculis finibus eros. Mauris finibus condimentum sapien, eget porttitor odio ullamcorper eget.
     Morbi non aliquam mi. Vestibulum pellentesque vehicula turpis, sed sagittis tellus condimentum ac. 
     Mauris ut blandit velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur 
     ridiculus mus.
    </p>
    <button class = "btn btn-primary">PUSH ME!!!</button>



</div>  
{% endblock %}